body {
  margin: 0;
  font-family: Arial;
  text-align: center;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: linear-gradient(#b43183, #a85b5b);
  padding: 15px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.logo {
  color: white;
  font-size: 35px;
  margin-left: 20px;
  width: 800px;
}

.nav-links {
  margin-left: auto;
  margin-right: 20px;
}

.nav-links a {
  margin-left: 20px;
  font-size: 20px;
  color: white;
  padding: 6px 12px;
  border: 2px solid white;
  border-radius: 10px;
  text-decoration: none;
}

.nav-links a:hover {
  background: white;
  color: #b43183;
}

main {
  margin-top: 130px;
}

.page {
  padding: 20px;
}

.hidden {
  display: none;
}

.hero-img {
  width: 80%;
  height: auto;
  border-radius: 20px;
}

.home-text {
  margin-top: 20px;
  font-size: 22px;
  color: #b43183;
  font-style: italic;
}

.title {
  color: #b43183;
  font-size: 40px;
}

.card {
  width: 70%;
  margin: 20px auto;
  background: #ffe6f2;
  padding: 15px;
  border-radius: 15px;
}

.card img {
  width: 600;
  border-radius: 10px;
}

.card h2 {
  color: #b43183;
}

.card p {
  font-size: 20px;
}
